<div id="bk">
	<div class="col-md-3">
		<form action="">
			<div class="form-group">
				<input id='bkSearch' type="search" placeholder="Search Bookmark" ng-model='bookSearch'>
			</div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add</h3>
        </div>
        <div class="panel-body">
          <input type="text" class="form-control" placeholder="Name"  ng-required=true ng-model='name'>
          <input type="text" class="form-control" placeholder="URL"  ng-required=true ng-model='url'>
          <select ng-model="category" ng-init="category = names[0]" ng-options="item for item in names">Category</select>
        </div>
        <button class="btn btn-primary" ng-click='addBookmark()'>Add Bookmark</button>
      </div>
		</form>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-3" ng-repeat='bookmark in bookmarks | filter:bookSearch'>
				<div class="thumbnail">
					<a href="{{bookmark.url}}">
						<img src='{{bookmark.img}}'>
					</a>
					<div>
            {{bookmark.title}}
						<span class="label label-primary">{{bookmark.category}}</span>
            <img class='trash' src="img/trash.png" ng-click='deleteBookmark($index)'>
					</div>

				</div>
			</div>
		</div>
		
	</div>
</div>