<div id="inner">
  <div id="hd" class="group">
    <div>
      <div class="name">
        <h1>Truong Van Phu</h1>
        <h2>Web Developer (Apprentice)</h2>
      </div>
      <div class="logo">
        <img class="img-rounded hovereffect" src="img/logo.png">
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="title">
        <h2>Personal Statement</h2>
      </div>
      <div class="para">
        <p>
          A highly motivated and hardworking individual who is a four-year student in computer engineering from the University of Technology and Science - The University of Danang, seeking a systems engineering or software developer position to use and further develop my technical skills and knowledge in a practical and fast-paced environment. Eventual career goal is to become a fully-qualified and experienced maintenance engineer which allows me to take responsibility for the analysis or development and maintenance systems with the longer-term aspiration of moving into project management.
        </p>
      </div>
    </div>
    <div>
      <div>
        <h2 class="title">Technical</h2>
      </div>
      <div class="box">
        <ul class="col-4">
          <li>HTML</li>
          <li>CSS</li>
          <li id="last">Javascript</li>
        </ul>

        <ul class="col-4">
          <li>Jquery</li>
          <li>AngularJS</li>
          <li id="last">Ruby</li>
        </ul>

        <ul class="col-4">
          <li>C/C++</li>
          <li>Java</li>
          <li id="last">MySQL/Server</li>
        </ul>
        <ul class="col-4">
          <li>Linux</li>
          <li>Window 7/Server</li>
          <li id="last">Networking</li>
        </ul>
      </div>
    </div> 
    <div>
      <div>
        <h2 class="title">Education</h2>
      </div>
      <div>
        <h5>University of Technology and Science - The University of Da Nang</h5>
        <h5>Key-skills gained:</h5>
        <ul>
          <li>
            Analytical and conceptual thinking, with a conscientious approach to manage workloads.
          </li>
          <li>
            Ability to handle, analyse, design and maintain a engineering systems.
          </li>
          <li>
            Advanced problem solving and learning.
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 class="title">Skills</h2>
      </div>
      <div>
        <div class="col-3">
          <h2>Web Developer</h2>
          <p>Recently Web Development is a hot trend in software development compared to native application for traditional desktop. It's more and more structural and well-defined which are crucial factor in software. It hereby attract a number of people to develope it.</p>
        </div>

        <div class="col-3">
          <h2>System Administrator</h2>
          <p>A system administrator, or sysadmin, is a person who is responsible for the upkeep, configuration, and reliable operation of computer systems; especially multi-user computers, such as servers. The system administrator seeks to ensure that the uptime, performance, resources, and security of the computers. </p>
        </div>

        <div class="col-3">
          <h2>English Interpreter</h2>
          <p>When i was young i like learning English a lot and i'm really good at it. But when i get older i find Computer has a vital impact to my life. It is comprised of a various mysterious parts. Ironically my father realize that i spent too much time for it instead of improving English skills.</p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h2 class="title">Experience</h2>
      </div>
      <div>
        <div class="job">
          <h2>Company: AsianTech</h2>
          <h3>Position: Internship</h3>
          <h3>Time: 3 months</h3>
          <p>The next step is to gain experience. All of us have had to start out doing internships or working entry-level jobs in order to climb the ladder, and the language industry is no exception. If you’re enrolled at or live near a college, take classes in translation / interpreting and look for opportunities to perform translation or interpreting work on campus for various departments. It is crucial to get experience where you can show samples of your work to potential clients and get recommendations.</p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h2 class="title">Personal Interest</h2>
      </div>
      <div>
        <p>
          From an early age I have always been deeply interested in computing. It was my father, buying me a brand new. I can always remember the feeling of wanting to know just how computers worked, why they worked and what else they could do. Then I built up very good working knowledge of user support in various technology areas from hardware to software including installation, update or upgrade. I also have two major interests and passions which are Maths and Music. I believe they all have a connection which inspire me to learn more and more. I also enjoy playing football and going travel around my country.
        </p>
      </div>
    </div> 
  </div>
</div>
