/* App stylesheet */

/*.logo {
	margin-top: 5px;
}
.nav-logo{
  margin-top: 0;
  width: 30px;
  height: 30px;
}*/
.icon-nav {
  width: 30px;
  height: 30px;

}
a.page-scroll:hover {
	color:#fff;
}
#about a:hover {
	color:#fff;
}
body {

  padding-top: 20px;
  background-color: #fff;
  position: static;
  min-height:100%;
  width: 100%;

}
nav {
	background-color: #000000;
}

.footer {
	text-align: center;
	width:100%;
	padding: 8px;
	margin: 0;
	background-color: #333;
	color: #888;
    position: absolute;
}
.footer a {
	color: #888;
	font-size: 15px;

}
html {
	overflow-x: hidden;
}

.icon {
	height: 13px;
	width: 13px;
}


/*======================================*/

.icon-bar {
	margin: 300px 200px  0px 0px;
	border-top-right-radius:20px;
    border-bottom-right-radius:20px;
	position: fixed;
    width: 50px;
    text-align: center;
    background-color: #888;
}

.icon-bar a {
    padding: 10px;
    display: block;
    transition: all 1s ease;
    color: white;
    font-size: 30px;
}

.icon-bar a:hover {
    background-color: aqua;
    padding-right: 70px;
    border-top-right-radius:120px;
    border-bottom-right-radius:120px;
}

.active {
    background-color: #4CAF50 !important;
}



