/* App stylesheet */


a.page-scroll:hover {
	color:#fff;
}
#about a:hover {
	color:#fff;
}
body {

  padding-top: 20px;
  background-color: #fff;
  position: static;
  min-height:100%;
  width: 100%;

}
nav {
	background-color: #000000;
}

.footer {
	text-align: center;
	width:100%;
	padding: 8px;
	margin: 0;
	background-color: #333;
	color: #888;
    position: absolute;
}
.footer a {
	color: #888;
	font-size: 15px;

}
html {
	overflow-x: hidden;
}

.icon {
	height: 13px;
	width: 13px;
}



