#bk {
	margin: 90px 20px 10px 20px;
	padding-left: 40px;
	min-height: 488px;
	
}
.trash:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
	cursor: pointer;
}
.selectpicker{
	background-color: #fff;
	width: 260px;
	height: 35px;
	border-radius: 5px;
	font-family:  Helvetica, sans-serif;
}

.panel-heading-bk {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.panel-body-bk {
	background-color: #ddd;
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px;
}
.col-md-9 {
	background-color: #ddd;
	padding-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.caption-thumbnail {
	text-align: center;
}
.title {
	font-size: 20px;
}
.star {
	width: 150px;
	height: 50px;
}