

#map_canvas {
    margin: 0;
    padding: 0 100px;
    height: 488px;
    border: 1px solid #ccc;
}
#map {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 468px;
}

