body { 
	font-family: Georgia; 
	color: #444; 
	  overflow-x: hidden;
}
#inner { 
	padding: 10px 70px; 
	margin: 80px 0 auto; 
	background: #f5f5f5; 
	width: 100%;
	border-width: 8px 0 2px 0; 
}

.logo {
	float: right;
}
.name {
	float: left;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


